@import "./reset.scss";
@import "./layout.scss";


html,
body,
#root {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

// body {
//     cursor: none;
// }

.cursor {
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--main-col);
    border-radius: 50%;
    position: absolute;
    z-index: 1000;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 0.3s ease;
    transition-property: background, transform;
    transform-origin: 100% 100%;
    backdrop-filter: sepia(20%);
    background-size: cover;
}

//flex
.flex {
    display: flex;
}

.flexColumn {
    display: flex;
    flex-direction: column;
}


//align-item
.alignCenter {
    align-items: center;
}

//justify-content
.justifyCenter {
    justify-content: center;
}

.justifyBetween {
    justify-content: space-between;
}

.justifyAround{
    justify-content: space-around;
}