//header style
.header-wrap {
    display: flex;
    width: 100%;
    z-index: 1000;
}

.terry {
    font-family: "Baskervville", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.nav-list {
    display: flex;
    gap: 30px;
}

main {
    background-color:#fff4e1 ;
    padding-bottom: 355px;
}
//main page
.main-wrap {
    position: relative;
    width: 100%;
    background-color: var(--bgc-yellow) ;
    font-size: 16px;
    border-radius: 0 0 100px 100px;
    box-shadow: 0px 19px 12px rgba(112, 75, 75, 0.15);
    z-index: 100;
    //main
    .main-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 130px 20px 0 20px;

        .mainImg-txt {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            
            .myImg1{
                transform: rotate(-5deg); 
            }

            .myImg2 {
                position: absolute;
                right: 3vw;
                top: 10vh;

                img{
                    width: 200px;
                    animation:ani 1.8s infinite alternate;  

                }
                @keyframes ani{
                    0%{transform:translate(0,0);}
                    100%{transform:translate(0,30px);}
                 }  
                 
                 
            }

            .myImg3 {
                position: absolute;
                left: 5vw;
                top: 45vh;

                img{
                    width: 200px;
                    animation:ani 1.8s infinite alternate;  

                }
                @keyframes ani{
                    0%{transform:translate(0,0);}
                    100%{transform:translate(0,30px);}
                 }  
                 
                 
            }

            p{
                position: absolute;
                top: -65px;
                color: black;
                font-size: 95px;
                font-family: "Baskervville", serif;
                font-style: italic;
                font-weight: bold;
                z-index: 1;
            }

            span.italic {
            font-family: "Baskervville", serif;
            font-style: italic;
            font-weight: bold;
            }
        }
        
    }

    //about me
    .main-about{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 120px 0;

        p:first-child{
            font-family: "Baskervville", serif;
            font-style: italic;
            font-size: 45px;
            color: var(--font-br);
            
        }

        p:last-child {
            padding-top: 20px;
            color: var(--font-gr);
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            letter-spacing: 1px;
        }
    }

    .main-skills {
        display: flex;
        overflow-x: hidden;
        user-select: none;
        gap: 10px;
        -webkit-mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
        padding: 20px 0;
        opacity: 0.7;
    }
    .skills-group {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 8px;
        min-width: 100%;
        animation: scroll-x 15s linear infinite;
    }
    @keyframes scroll-x {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%); 
        }
    }

    .skills-group img {
        transition: all 0.2s ease;
        width: 100px;
    }
    .main-project {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 120px;

        .project-wrap {
            width: 100%;
            padding: 0 80px;
            display: flex;
            flex-direction: column;
            gap: 45px;
            > p{
                display: flex;
                width: 100%;
                justify-content: center;
                font-size: 45px;
                font-family: "Baskervville", serif;
                color: var(--font-br);
            }

            .projects {
                display: flex;
                flex-direction: column;
                flex: 1;
                position: relative;
                align-content: center;
                
                .projects-txt {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: start;
                    padding: 30px;
                    margin-bottom: 50px;
                    font-size: 20px;
                    color: var(--font-br);
                    opacity: 0;
                    transition: opacity 0.3s ease; 
                    border-radius: 10px;
                    pointer-events: none;

                    h2 {
                        font-size: 30px;
                    }
                }

                .projects-txt.show {
                    opacity: 1;
                }

                img{
                    width: 580px;
                    height: 355px;
                    border-radius: 20px;
                    box-shadow: 9px 0 12px rgba(112, 75, 75, 0.15);
                    display: block;
                    transition: opacity 0.3s ease;

                }
                img:hover {
                    background-color: black;
                    opacity: 0.2;
    
                }

                .project-info{
                    display: flex;
                    padding: 20px 0;
                    margin: 0 20px;
                    align-items: center;
                    justify-content: space-between;
                    
                    .project-desc {
                        display: flex;
                        flex-direction: column;
                        flex: 1;
                        font-size: 20px;
                        min-width: 220px;
                    }
                }

                .project-label-wrap {
                    display: flex;
                    flex: 1;
                    gap: 10px;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                }
            }
            .project-group ul {
                display: flex;
                width: 100%;
                justify-content: space-between;
                align-content: center;
                margin-bottom: 40px;
            }

            .project-group ul:last-child {
                // margin-bottom: unset;
            }
            
        }
    }
   
    .skills-group img {
    transition: all 0.2s ease;
    width: 100px;
    }
   
}

.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    background-color: #fff4e1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 22rem;
    width: 100%;
    height: 20px;
    padding: 0 40px;
    z-index: 0;
     

    .footer-info {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 30px;
        gap: 30px;

        span {
            line-height: 100%;
            color: var(--font-br);
            font-style: bold;
            font-size: 30px;
            font-family: "Baskervville", serif;
            margin-bottom: 30px;
        }

        p {
            color: var(--font-br);
            font-size: 20px;
            opacity: 0.8;
        }

        .email {
            font-size: 65px;

        }
    }
}
.label {
    min-width: 70px;
    height: 28px;
    border-radius: 100px;
    padding: 0 10px;

    p {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }
}