//header style
.header-wrap {
    display: flex;
    width: 100%;
    z-index: 1000;
}

.terry {
    font-family: "Baskervville", serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.nav-list {
    display: flex;
    gap: 30px;
}


//main page
.main-wrap {
    width: 100%;
    background-color: var(--bgc-yellow) ;
    font-size: 16px;
    //main
    .main-main {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 130px 20px 0 20px;

        .mainImg-txt {
            position: relative;
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            
            .myImg2 {
                position: absolute;
                right: 3vw;
                top: 10vh;

                img{
                    width: 200px;
                    animation:ani 1.8s infinite alternate;  

                }
                @keyframes ani{
                    0%{transform:translate(0,0);}
                    100%{transform:translate(0,30px);}
                 }  
                 
                 
            }

            p{
                position: absolute;
                top: -65px;
                color: black;
                font-size: 95px;
                font-family: "Baskervville", serif;
                font-style: italic;
                font-weight: bold;
            }

            span.italic {
            font-family: "Baskervville", serif;
            font-style: italic;
            font-weight: bold;
            }
        }
        
    }

    //about me
    .main-about{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 120px 0;

        p:first-child{
            font-family: "Baskervville", serif;
            font-style: italic;
            font-size: 45px;
            color: #826B6B;
            
        }

        p:last-child {
            padding-top: 20px;
            color: #A9A9A9;
            font-weight: 400;
            line-height: 24px;
            text-align: center;
            letter-spacing: 1px;
        }
    }

    // .main-skills {
    //     position: relative;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     width: 100%;
    //     margin-top: 250px;

    //     p:first-child{
    //         font-family: "Baskervville", serif;
    //         font-style: italic;
    //         font-size: 45px;
    //         color: #826B6B;
            
    //     }

    //     .skills-wrap{
    //         min-height: 400px;
    //         position: relative;
    //         width: 100%;
    //         margin: 0 150px;

    //         img {
    //             width: 170px;
    //             height: 170px;

    //             &:nth-child(1){
    //                 position: absolute;
    //                 top: 0px;
    //                 left: 200px;
    //                 width: 180px;
    //             }
    //             &:nth-child(2){
    //                 position: absolute;
    //                 left: 330px;
    //                 bottom: 40px;
    //                 transform: rotate(-20deg); 

    //             }
    //             &:nth-child(3){
    //                 position: absolute;
    //                 bottom: 190px;
    //                 left: 450px;
    //             }
    //             &:nth-child(4){
    //                 position: absolute;
    //                 top: 40px;
    //                 right: 190px;
    //                 transform: rotate(-20deg); 
    //                 margin-left: 10px;

    //             }
    //             &:nth-child(5){
    //                 position: absolute;
    //                 bottom: 55px;
    //                 right: 335px;
    //                 transform: rotate(27deg); 
    //             }
    //             &:nth-child(6){
    //                 position: absolute;
    //                 right: 375px;
    //                 transform: rotate(10deg); 
    //                 margin-left: 40px;
    //             }
    //             &:nth-child(7){
    //                 position: absolute;
    //                 width: 140px;
    //                 top: -48px;
    //                 left: 569px;
    //                 transform: rotate(506deg); 

    //             }
    //             &:nth-child(8){
    //                 position: absolute;
    //                 left: 180px;
    //                 top: 120px;
    //             }
    //             &:nth-child(9){
    //                 position: absolute;
    //                 right: 310px;
    //                 bottom: 60px;
    //             }
    //         }
    //     }
    // }
    .main-skills {
        display: flex;
        // overflow-x: scroll; /* 가로 스크롤 활성화 */
        user-select: none;
        gap: 10px;
        -webkit-mask-image: linear-gradient(var(--mask-direction, to right), hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
        // background-color: #f3f2f2;
        padding: 20px 0;
    .skills-group {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 8px;
        min-width: 100%;
        animation: scroll-x var(--duration) linear infinite;
      }
    }
      
    .main-project {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 120px 0;

        .project-wrap {
            width: 100%;
            padding: 0 120px;
            > p{
                display: flex;
                width: 100%;
                justify-content: start;
                font-size: 45px;
                font-family: "Baskervville", serif;
            }

            .projects img{
                width: 620px;
                height: 380px;
                
            }
        }
    }
      
      @keyframes scroll-x {
        0% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(-100%); /* 가로로 스크롤되게 이동 */
        }
      }
      
      .skills-group img {
        transition: all 0.2s ease;
        width: 100px;
      }
      
    



}
@keyframes maskAnimation {
    0% {
      mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
      transform: translateX(var(--scroll-start));
    }
    50% {
      mask-image: linear-gradient(to left, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
    }
    100% {
        mask-image: linear-gradient(to right, hsl(0 0% 0% / 0), hsl(0 0% 0% / 1) 20%, hsl(0 0% 0% / 1) 80%, hsl(0 0% 0% / 0));
        transform: translateY(var(--scroll-end));
    }
  }

@keyframes scroll-x {
    0% {
        transform: translateX(var(--scroll-start));
    }
    100% {
        transform: translateX(var(--scroll-end));
    }
}
